---
Language: Cpp
# BasedOnStyle: Google

# from chat_gpt for parameter a single line
BasedOnStyle: LLVM
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false
BreakBeforeBinaryOperators: false
# BreakBeforeBraces: Allman

# for {} on one line
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  SplitEmptyFunction: true
AllowShortBlocksOnASingleLine: true

AccessModifierOffset: -2
AlignAfterOpenBracket: AlwaysBreak
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
BreakBeforeBraces: Custom
ColumnLimit: 100
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 2
DerivePointerAlignment: false
PointerAlignment: Middle
ReflowComments: false
